<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon"/>
    <style>
        #take {
            width: 400px;
        }
    </style>
    <title>Inicio - Proyecto Taller Redes</title>
    <!--CARGANDO BOOTSTRAP-->
    <link rel="stylesheet" href="/public/bootstrap.min.css">|
    <script type="text/javascript" src="../public/webcam-easy.min.js"></script>
    <script src="../public/jquery-2.1.1.min.js"></script>
    <script src="../public/face-api.js"></script>

</head>

<body>
    <nav>
        <nav class="navbar navbar-dark bg-dark">
            <a href="/" class="navbar-brand">Lista de Usuarios</a>
            <a href="/newusers" class="navbar-brand">Nuevo Usuario</a>
            <a href="/enters" class="navbar-brand">Lista Registros</a>
            <a href="/newenters" class="navbar-brand">Nuevo Registro</a>
        </nav>
    </nav>

    <!--BODY/////////////////////////////////////////////-->
    <div class="instruccion">
        <p>
            Intrucciones<br>
            1. Espere que la camara se habilite, puede tardar varios segundos<br>
            2. Pulse "Tomar Foto" (Solo si ya ha registrado antes todos sus datos en la pagina "Nuevo Usuario")<br>
            3. Si su rostro es reconocido por el sistema, se guardara la hora actual exacta en una 
            base de datos<br>
            4. Recibira un aviso confirmando que los datos fueron guardados exitosamente. ( En "Lista Registros" puede
            confirmar eso)<br>
        </p>
    </div>

<div class="container">
    <div class="row mt-5">

        <div class="col-md-7">

            <div class="form-camara">
                <button id="take" class="btn btn-primary" type="button">Tomar Foto</button>
            </div>
            <div class="form-camara">
                <video id="webcam" autoplay playsinline width="400" height="300"></video>
                <canvas id="canvas" class="d-none"></canvas>
            </div>
            <audio id="snapSound" src="../public/snap.wav" preload = "auto"></audio>

        </div>

    </div>
</div>

</body> 
<script>
$(document).ready(function(){
const webcamElement = document.getElementById('webcam');
const canvasElement = document.getElementById('canvas');
const snapSoundElement = document.getElementById('snapSound');
const webcam = new Webcam(webcamElement, 'user', canvasElement, snapSoundElement);

const take = document.getElementById("take");

let imagePersona = new Image();

Promise.all([
    faceapi.loadSsdMobilenetv1Model("/modelsML"),
    faceapi.loadFaceLandmarkModel("/modelsML")
    ]).then(async()=>{
        console.log('Se han cargado los modelos!!!');
        await webcam.start()
            .then(result =>{
                console.log("webcam started");
            })
            .catch(err => {
                console.log(err);
            });
    });

take.addEventListener("click", async()=>{
    let picture = await webcam.snap();
    imagePersona.src = picture;

    const fullFaceDescription = await faceapi.detectSingleFace(imagePersona).withFaceLandmarks();  
    if (!fullFaceDescription) {
        alert('Por favor intente con otra foto!!');
    }else{
        console.log('Se ha detectado un rostro');

        const data = {
            image: imagePersona.src
        };

        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };

        console.log(options);
        const response = await fetch('/addEnter', options);
        const respuesta = await response.json();
        console.log(respuesta);

        if (respuesta.data == "unknown"){
            alert('No se encontro coincidencia! Por favor intente con otra foto!');
        }else{
            const name = respuesta.data;
            alert("Nueva Entrada Registrada Correctamente!! Bienvenido " + name);
            speechSynthesis.speak(new SpeechSynthesisUtterance('Bienvenido '+ name));
            
            const data1 = { persona_id: respuesta.id };
            const options1 = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data1)
            };

            const response1 = await fetch('/obteinData', options1);
            const respuesta1 = await response1.json();
            console.log(respuesta1); 
        };         
    };
});

});
</script>
</html>
